.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-wrapper {
  background-color: #f8df00;
  padding: 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #001f3f;
}

.form-footer {
  margin-top: 10px;
}

.form-wrapper button {
  height: 50px;
  margin: 0 10px;
  padding: 0 25px;
  background-color: #001f3f;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}
